.search-bar {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-top {
  align-items: flex-start;
}

.calendar {
  height: 800px;
  background-color: #ffffff;
  select-color: #1da1f2;
}

.list {
  width: 750px;
  padding-left: 29px;
  background-color: #f3f6f7;
  padding-top: 13px;
  padding-bottom: 13px;
}

.list-box {
  width: 692px;
  height: 335px;
  background-color: #fff;
  border-radius: 12px;
  color: #666666;
}

.list-box-title {
  flex-direction: row;
  align-items: center;
  width: 644px;
  height: 102px;
  line-height: 102px;
  margin-left: 24px;
  font-size: 39px;
  justify-content: center;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e2e2e2;
}

.list-col {
  width: 130px;
  text-align: center;
}

.list-box-content {}

.list-box-content-left {
  position: relative;
  width: 650px;
  height: 146px;
}

.list-box-content-right {
  display: felx;
  flex-direction: row;
  justify-content: flex-end;
  width: 644px;
  height: 88px;
  padding-top: 17px;
  margin-left: 20px;
  padding-right: 8px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #e2e2e2;
}

.enter-btn {
  width: 140px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #ffffff;
  color: #1da1f2;
  border-radius: 4px;
  margin-left: 42px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.col {
  flex-direction: row;
  height: 46px;
  padding-left: 165px;
  padding-top: 16px;
}

.col-icon {
  width: 26px;
  height: 26px;
  margin-right: 15px;
}

.address {
  width: 450px;
  lines: 3;
  text-overflow: ellipsis;
}
.text-overflow {
  overflow: hidden;
  height: 46px;
}

.text {
  font-size: 25px;
}

.map {
  background-color: #42b983;
}

.loading {
  display: block;
  align-items: center;
}

.pay-content {
  margin-left: 84px;
  margin-top: 312px;
  width: 580px;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
}

.pay-title {
  height: 105px;
  justify-content: center;
  padding-left: 48px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #cccccc;
}

.pay-group {
  flex-direction: row;
  padding-top: 52px;
  justify-content: center;
}

.pay-type {
  width: 215px;
  height: 66px;
}

.search-date {
  flex-direction: row;
  justify-content: center;
  height: 100px;
  background-color: rgba(31, 181, 252, 0.4);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eee;
}

.search-date-text {
  text-align: center;
  width: 375px;
  height: 100px;
  line-height: 100px;
  color: #000;
}

.icon-title-content {
  flex-direction: row;
  align-items: center;
}

.list-title-icon {
  width: 21px;
  height: 21px;
  margin-right: 6px;
  margin-bottom: 5px;
}

.list-box-content-left-icon {
  position: absolute;
  width: 102px;
  height: 116px;
  left: 38px;
  top: 18px;
}

.blue {
  color: #2096f2;
  font-size: 25px;
}

.title {
  font-size: 25px;
  color: #666666;
}

.text-color {
  color: #333333;
}

.num-color {
  color: #deae07;
}

.gray-color {
  color: #666666;
}

.width280 {
  width: 280px;
  padding-left: 15px;
}

.width170 {
  width: 190px;
}
.tool-image {
  width: 60;
  height: 60;
}

.tool-text {
  color: #fff;
  font-size: 30;
  width: 100px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.tool-btn {
  width: 100;
  height: 100;
//   background-color: #ff0000;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50;
  bottom: 25;
  right: 25;
  margin-left: 315;
}
.red-color {
  color: red;
}